
{% extends 'back/back_base.html.twig' %}


{% block body %}
    <h2 class="text-center text-dark fst-normal">Teacher</h2>

    <table class="table fst-normal ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Formation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstname }}</td>
                <td>{{ teacher.lastname }}</td>
                <td>{{ teacher.formation }}</td>
                <td>
                    <a href="{{ path('app_back_teacher_show', {'id': teacher.id}) }}" class="btn btn-success w-100">show</a>
                    <a href="{{ path('app_back_teacher_edit', {'id': teacher.id}) }}" class="btn btn-dark w-100">edit</a>       
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_teacher_new') }}" class="btn btn-success w-100 fst-normal text-light">Create new</a>
{% endblock %}
