{% extends 'back/back_base.html.twig' %}



{% block body %}
       <h2 class="text-center text-dark fst-normal">Teacher</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ teacher.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ teacher.lastname }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ teacher.formation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_teacher_index') }}" class="btn btn-dark w-100 fst-normal">back to list</a>

    <a href="{{ path('app_back_teacher_edit', {'id': teacher.id}) }}" class="btn btn-success w-100 fst-normal">edit</a>

    {{ include('back/teacher/_delete_form.html.twig') }}
{% endblock %}
