{% extends 'base.html.twig' %}



{% block title %}

{% endblock %}

{% block body %}



<div class="my-2 py-2 text-center">    
    <img src="{{ asset('assets/favicon.png') }}" height="100" alt="logo" class="logo">
    <h1 class="display-6 fw-bold">Enseignements, Exellence, quality </h1>
  
</div>

<div class=" text-center">
    <div class="mx-auto">
            <h2 class="display-7 fw-bold">Les cursus</h2>
            
        <div class= "container mt-2">
          
            <div class="d-inline p-2">
                <div class="card border-dark">


{% if app.session.get('theme') == 'firstTheme' %}

        <div class="card-body" style="background-color: #0d6efd">

{% else %}             

    <div class="card-body  text-primary" style="background-color: #000000">

{% endif %}  
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-with">
          <img class="col-4 movie__poster img-thumbnail" style="background-image: url({{ cursusById.poster }});" class="images">
                
            <h2 class="card-title fst-normal">{{ cursusById.title }}</h2>
           <p class="card-text fst-normal">{{ cursusById.accessibilité }}</p>
            <h3 class="card-number fst-normal">{{ cursusById.diplôme }}</h3>
            <h4 class="card-percent fst-normal">{{ cursusById.success }}</h4>
               <h4 class="card-percent fst-normal">{{ cursusById.description }}</h4>
            <h5 class="card-percent fst-normal">difficulté => {{ cursusById.difficulté }}</h5>
          </div>
  </div>
 </div>
         </div>
            
         </div>
               
        </div>
    </div>
</div>









{% endblock %}