{% extends 'base.html.twig' %}



{% block title %}
<div class="col-lg-6 mx-auto text-center ">
     <p class="lead mb-4 text-muted fst-normal fw-bold">cassiopeia</p>
</div>
<div class="my-2 py-2 text-center">    
    <img src="{{ asset('assets/favicon.png') }}" height="100" alt="logo" class="logo">
    <h1 class="display-6 fw-bold">Enseignements, Exellence, quality </h1>
  
</div>

{% endblock %}

{% block body %}



<div class=" text-center">
    <div class="mx-auto">
        
            <h2 class="card-title fst-normal fw-bolder">{{ circuit.title }}</h2>
        <div class= "container mt-2">
          
            <div class="d-inline p-2">
                <div class="card border-dark">


{% if app.session.get('theme') == 'firstTheme' %}

        <div class="card-body text-primary" style="background: linear-gradient(180deg, blue, black)">

{% else %}             

    <div class="card-body  text-primary" style="background-color: #000000">

{% endif %}  
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-with">
        <img class="col-4 movie__poster img-thumbnail" style="background-image: url({{ circuit.picture }});" class="images">
                
            
        <h3 class="card-percent fst-normal">{{ circuit.description }}</h4>
        <p class="card-text fst-normal">{{ circuit.duration }} ans de formation</p>
        <h3 class="card-number fst-normal">diplôme Bac + {{ circuit.diplomas }}</h3>
        <h4 class="card-percent fst-normal">taux de réussite {{ circuit.success }} %</h4>
        <h5 class="card-percent fst-normal">difficulté => {{ circuit.difficulties }}</h5><br><br>

        <ul class="list-group">
        <li class="list-group-item">enseigné par Mr et Mme</li>

{% for teacher in circuit.teachers %}
       
                  <li class="list-group-item">{{ teacher.firstname }} {{ teacher.lastname }}</li>
                </ul>
{% endfor %}


        <a class="fst-normal" href="{{ path('circuit_review_add', {id: circuit.id}) }}">ajouter un commentaire</a>
            
           <ul class="list-group-review">


        <li class="list-group-review">Le dernier commentaire</li>
                  <li class="list-group-review">{{ lastReview.username }}<br>{{ lastReview.title }}<br>{{ lastReview.description }}<br>{{ lastReview.rating }}<br>  </li>
                </ul>

          </div>
  </div>
 </div>
         </div>
            
         </div>
               
        </div>
    </div>
</div>









{% endblock %}